#### NOTE
# Put this in /etc/systemd/system/monerowallet.service
# You will need to edit the ExecStart line. THEN

## Load the new systemd script for monerod
# sudo systemctl daemon-reload
## Set monerowallet rpc to start on boot
# sudo systemctl enable monerowallet
## Start the monerowallet service
# sudo systemctl start monerowallet
## Tail the monerorpc log
# sudo tail -f /var/log/monero/monero-rpc.log



[Unit]
Description=Monero Full Node Wallet RPC (Mainnet)
After=network.target

[Service]
# Process management
####################

Type=forking
PIDFile=/var/run/monero/monerowallet.pid
ExecStart=/usr/local/bin/monero-wallet-rpc --rpc-bind-ip 0.0.0.0 --rpc-bind-port 18090 --confirm-external-bind --rpc-login monerorpc:RPCPASSWORD --daemon-login monerorpc:RPCPASSWORD --daemon-port 18081 --wallet-file /etc/monero/WALLETKEYS.keys --password "WALLETPASSWORD" --pidfile /var/run/monero/monerowallet.pid  --log-file /var/log/monero/monero-rpc.log --detach
Restart=on-failure
RestartSec=30

# Run as monero:monero
User=monero
Group=monero


# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

# Deny access to /home, /root and /run/user
ProtectHome=true

# Disallow the process and all of its children to gain
# new privileges through execve().
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
